<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All Binaries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Build Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Build LuaCocoa and Utilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Clean Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CoreAnimationScriptability.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CreateDMG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Embed luacocoa_shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>LuaCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OpenSavePanelDelegatePattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SimpleLuaOpenGLView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SimpleLuaView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>luacocoa_shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0051AEC41256B5380047D73E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0051AEE21256B6580047D73E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>006467DC1081A1CA00183915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008397AA128250A4009609AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00D4A4F814ECA4C5009E57C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00DDA0371299E71900036662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00DDA07E1299EFBE00036662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00DF0B8812605A56007AED88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00E16941124596690095535F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00E16AEE1245BD2D0095535F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00EFE3301323748700182307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00EFE3C413238A7700182307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
